<div class="controls">
  <div class="controls__breadcrumb">
    <%= slide.position %> / <%= presentation.slides.count %>
  </div>
  <div class="controls__prev">
    <%= simple_form_for presentation, url: my_presentation_path(presentation) do |f| %>
      <%= f.hidden_field :viewing_slide_id, value: presentation.previous_slide.id %>
      <%= f.button :submit, sanitize("&larr;") %>
    <% end %>
  </div>
  <div class="controls__next">
    <%= simple_form_for presentation, url: my_presentation_path(presentation) do |f| %>
      <%= f.hidden_field :viewing_slide_id, value: presentation.next_slide.id %>
      <%= f.button :submit, sanitize("&rarr;") %>
    <% end %>
  </div>
</div>