<div>
  <div>
    <strong>Name: </strong><%= presentation.name %>
  </div>
  <div>
    <strong>Presenter: </strong><%= presentation.user.name %>
  </div>
  <div>
    <%= presentation.slideshow.description %>
  </div>
  <div>
    <%= presentation.slideshow.slides.count %> Slides 
  </div>
  <% if current_user.presenting?(presentation) %>
    <%= link_to 'Present', my_presentation_path(presentation), class: "button button--primary" %>
  <% elsif current_user.attending?(presentation) %>
    <%= link_to 'View', presentation_path(presentation), class: "button button--primary" %>
  <% else %>
    <%= button_to 'Attend', presentation_attendees_path(presentation), class: "button button--primary" %>
  <% end %>
</div>