<main class="container">

  <%= turbo_frame_tag nested_dom_id(@slide.slideshow, "slide_viewer") do %>
    <h2>Edit Slide</h2>
    <%= simple_form_for @slide, url: my_slideshow_slide_path(@slide.slideshow, @slide) do |f| %>
      <%= form_error_notification @slide %>
      
      <%= f.input :name %>
      <%= f.rich_text_area :body%>
      <%= f.input :notes, label: "Presenter Notes" %>

      <%= f.submit "Save", class: "button button--light" %>
    <% end %>
  <% end %>
</main>