<main class="container">

  <%= turbo_frame_tag nested_dom_id(@slide.slideshow, "slide_viewer") do %>
    <h2>New Slide</h2>
    <%= simple_form_for @slide, url: my_slideshow_slides_path(@slide.slideshow) do |f| %>
      <%= form_error_notification @slide %>
      
      <%= f.input :name %>
      <%= f.rich_text_area :body %>
      <%= f.input :notes, label: "Presenter Notes" %>
      <%= f.hidden_field :position, value: @slide.position %>

      <%= f.submit "Save", class: "button button--light" %>
    <% end %>
  <% end %>
</main>